* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  line-height: 1.4;
}

li a {
  text-decoration: none;
}

.logo {
  padding-left: 2rem;
}

.logo a {
  text-decoration: none;
  color: #e9e9e9;
}

.logo a:hover {
  color: #e9e9e9;
}

/* Navbar*/
#navbar {
  display: flex;
  position: static;
  top: 0;
  background: #333;
  color: #fff;
  justify-content: space-between;
  z-index: 1;
  padding-top: 20px !important;
  padding: 0.3rem;
  align-items: center;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}
#navbar ul li a {
  color: #fff;
  padding: 0.75rem;
  margin: 0 0.25rem;
}
#navbar ul li a:hover {
  background: #333;
  color: #ddd;
}

/* Card */
.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

/* Login */
.login-title {
  text-align: center;
  margin: 50px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.inputs {
  text-align: center;
  background-color: #e9e9e9;
  padding: 50px;
  border-radius: 10px;
}

.username {
  margin: 20px;
}

.password {
  margin: 20px;
}

.first-name {
  margin: 20px;
}

.last-name {
  margin: 20px;
}

.email {
  margin: 20px;
}

.title {
  margin: 10px;
}
.title-input {
  padding-left: 55px;
  padding-right: 55px;
}

.file {
  margin: 10px;
}

.content {
  margin: 10px;
}

.loginbuttondiv {
  text-align: center;
  align-items: center;
}

.loginbutton {
  background-color: #333;
  color: #fff;
  border-radius: 3px;
  border: none;
  text-decoration: none;
  padding-left: 45px;
  padding-right: 50px;
  padding-top: 3px;
  padding-bottom: 3px;
}
.loginbutton:hover {
  color: #ddd;
}

/* Image  */

.imgstyle {
  text-align: center;
  margin-top: 70px;
}
.newimage {
  border-radius: 5px;
  max-width: 700px;
  max-height: 350px;
}

input {
  border-radius: 3px;
  border: 1px solid #333;
}

.search-container {
  text-align: center;
  width: 65%;
  padding-bottom: 12px;
}

.btnsearch {
  border-radius: 5px;
  color: #fff;
  background-color: #333;
  border: none;
  padding: 5px;
}

.btnsearch:hover {
  color: #ddd;
}

.searchspace {
  width: 90%;
}

.sorting {
  margin-right: 100px;
}

.spacing {
  margin: 30px;
}

.upload {
  margin: 15px;
}

.upload-button {
  text-decoration: none;
  border: none;
  border-radius: 5px;
  padding: 5px;
  color: #e9e9e9;
  background-color: #333;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 10px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card a {
  color: #333;
  text-decoration: none;
}

.card a:hover {
  color: #333;
}

h4 {
  padding-top: 10px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

/* Dropdown */

.dropbtn {
  background-color: #333;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  text-decoration: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  padding-right: 20px;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #333;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  color: #333;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #e9e9e9;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #333;
  color: #e9e9e9;
}

.dropdown a {
  margin-right: 20px;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.editbtn {
  color: #333;
  text-decoration: none;
  text-align: center;
  align-items: center;
  background-color: #f5a938;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
}

.editbtn:hover {
  color: #fff !important;
  background-color: #ed940e !important;
}

.deletebtn {
  color: #333;
  text-decoration: none;
  text-align: center;
  align-items: center;
  background-color: #eb4034;
  border-radius: 3px;
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 10px;
}

.deletebtn:hover {
  color: #fff !important;
  background-color: #ba1e13 !important;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.signupp {
  margin-top: 30px;
}

.signupa {
  text-decoration: none;
  color: #333;
  border: 1px solid #333;
  padding: 3px;
  border-radius: 3px;
}

.signupa:hover {
  color: #fff;
  background-color: #333;
}

::placeholder {
  text-align: center;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */
.three {
  margin-top: 70px !important;
}

.threedots {
  background-color: #fff !important;
  color: #787878 !important;
}

.threehover {
  background-color: #fff;
  border-radius: 5px;
}

.threehover a {
  color: #fff;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////// */

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content/Box */
.modal-content {
  background-color: #fff;
  color: #333;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  align-items: center;
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modalwidth {
  max-width: 600px;
  padding: 20px;
}
